<article>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="" class="d-block w-100 shadow rounded product-img" alt="" />
            </div>
            <div class="carousel-item">
                <img src="" class="d-block w-100 shadow rounded product-img" alt="">
            </div>
            <div class="carousel-item">
                <img src="" class="d-block w-100 shadow rounded product-img" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h1 class="product-title">PRODUCT TITLE</h1>
    <p><strong><em>* Note: More item options are available on Amazon. Please use our Amazon affiliate
                button below. *</em></strong></p>
    <div class="btn-group" role="group" aria-label="Buy on Amazon button">
        <!-- BUY ON AMAZON BUTTON -->
        <!-- BUY ON AMAZON BUTTON -->
    </div>
</article>