* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* DEBUG */
    /* border: 1px solid #f00; */
}

body, html {
    width: 100%;
    height: 100%;
}

#logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}